html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(/大事件/assets/images/login_bg.jpg);
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url(/大事件/assets/images/login_title.png) no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    margin: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}